@charset "utf-8";
/* CSS Document */

/* body styles */
#container {
	margin: auto;
	width: 800px;
	font-family: Arial, Helvetica, sans-serif;
}
h1 {
	text-align: center;
	font-weight: lighter;
	font-size: 26px;
}
p {
	font-size: 12px;
	text-align: center;
	color: silver;
}
/* form styles */
legend {
	padding: 0px 10px 0px 10px;
	color: silver;
}
label {
	width: 250px;
	float:left;
	text-align:right;
	margin-right: 10px;
}
input, textarea {
	float: none;
	display: inline;
}
#row {
	margin: 5px auto;
}
#submit {
	text-align: center;
}
